media type reservation issues

https://mailarchive.ietf.org/arch/msg/dconn/F35DSmwfZoRD9QVy7AShvp9qHKc

Section 12.6, the media type reservation: It's not enough to just refer to the Security Considerations section of this document.  RFC 6838 Section 4.6 (please review it) requires that you include a statement about whether the payload of the media type is executable, but I don't see that here.  We would push back on this if presented in its current form.
